[submodule "libtrx"]
	path = subprojects/libtrx
	url = https://github.com/LostArtefacts/libtrx.git
[submodule "godot/godot-cpp"]
	path = godot/godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
[submodule "godot/uthash"]
	path = godot/uthash
	url = https://github.com/troydhanson/uthash.git
